/*global*/

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 0 auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color:#f1c40f;
    font-family: "Montserrat", sans-serif;
}

.sectiontitle {
    text-align: center;
    padding: 0 0 40px 0;
}

.sectiontitle h2 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.sectiontitle h3 {
    font-size: 16px;
    font-style: italic;
}

/*header*/
.header {
    min-width: 1400px;
    min-height: 700px;
    background-image:url(https://i.postimg.cc/3JH0rnb2/pexels-willian-justen-de-vasconcellos-792345.jpg);
    background-position: center center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    background-attachment: fixed;
   
}


.header .logo {
    text-align: center;
    margin: 20px 0px;
    padding-top: 30px;
    font-size: 26px;

}

.header .logo a {
    color: #f1c40f;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    
}

.header .menubar {
    text-align: center;
    margin: 20px 0px;
    padding-top: 40px;
    font-size: 14px;
}

.header .menubar a {
    color: white;
    text-decoration: none;
    padding-right: 40px;
    font-family: "Montserrat", sans-serif;
}

.header .splashtext {
    text-align: center;
    color: white;
    padding-top: 120px;
}

.header .splashtext h2 {
    font-size: 40px;
    font-style: italic;
}

.header .splashtext h3 {
    font-size: 75px;
    font-family: "Montserrat", sans-serif;
}

.header .container {
    max-width: 1400px;
    max-height: 700px;
}


/* services */

.services {
    padding: 120px 0;
}

.service {
    text-align: center;
}

.service i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #f1c40f;
    border: 3px solid;
    border-radius: 50px;
}

.service h2 {
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.service h3 {
    font-size: 14px;
}

/* portfolio */


.portfolio {
    padding: 120px 0;   
    background-color: #f7f7f7;
    
}

.galeryex {
    background: #ffffff;
    text-align: center;
    height: 100%;

}


.galeryex img {
    object-fit: cover;
    height: 80%;
    width: 100%;
}

.galeryex h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.galeryex h3 {
    font-size: 14px;
    font-style: italic;
}

/* header */

.footer {
    padding: 30px 0;
}



.footer .footertext, .footerlinks {
    text-align: center;
}

.footer .footerlinks {
    margin: 16px 0;
}

.footer .footerlinks i {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    color:#ffffff;
    background-color: black;
    margin: 0 7px;
}

